body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.product.tile {
    width: 250px;
    height: 250px;
    margin: 5px;
}

.product.tile .name {        
    margin-top: 190px;
    margin-bottom: 0px;
}

.product.tile .price {
    display: inline-block;    
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
}

.product.tile button {
    float: right;
    margin-top: -20px;
}

ul.cart-items {
    font-size: 12px;
    padding-left: 0px;
    list-style-type: none;
}

ul.cart-items > li {
    margin-bottom: 6px;
}

ul.cart-items > li > .line-item {
    width: 135px;
    display: inline-block;    
}

ul.cart-items > li > button[type="button"] {
    position: relative;    
}

.alerts {
    position: fixed;
    top: 60px;
    left: 10px;    
    z-index: 0;
}

.alerts .alert {
    min-width: 250px;
}

.fade-enter,
.fade-leave,
.fade-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.fade-enter {
  left:-10px;
  opacity:0;
}
.fade-enter.fade-enter-active {
  left:0;
  opacity:1;
}

.fade-leave {
  left:0;
  opacity:1;
}
.fade-leave.fade-leave-active {
  left:-10px;
  opacity:0;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}